td {
 max-width:450px; word-wrap:break-word;
}
table { width: 100%; }

html {

	/*outline: 1px solid #ccc; */
	/*padding: 5px; margin: 5px; */

   font-family: Segoe UI;

}
.string { color: darkgreen; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: black; }